<nav>
  <!-- dropdown -->
  <div class="dropdown">
    <span id="dropdownHeader"><%= task.title %></span>
    <div class="dropdown-content">
      <% tasks.filter(x => x.id !== task.id).forEach(e => { %>
      <a href="<%= e._id %>"><%= e.title %></a>
      <% }) %>
    </div>
  </div>

  <!-- edit form -->
  <%- include('editForm') %>

  <!-- add task -->
  <%- include('addTaskForm') %>

  <%- include('logout') %>
</nav>